body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    background: hsl(212, 45%, 89%);
    font-family: "Outfit", sans-serif;
    margin: unset;
}
.main-container {
    max-width: 18rem;
    padding: 1rem;
    margin: 1rem;
    border-radius: 1rem;
    background: hsl(0, 0%, 100%);
}
.qr-image {
    border-radius: 1rem;
}

.text-container {
    margin-top: 1rem;
    text-align: center;
}

.title {
    font-size: 1.3rem;
    font-weight: 700;
}

.sub-title {
    font-size: 0.9375rem;
    font-weight: 400;
    color: hsl(220, 15%, 55%);
}